
# Firebase Client SDK Configuration
# Copy this file to .env.local and fill in your Firebase project details.
# These can be found in your Firebase project settings under "General".

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDQQTAoi87lLlDW59SkhWjv9FatQ6bVN3I
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=tenanttracker-u4wuw.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=https://tenanttracker-u4wuw-default-rtdb.firebaseio.com
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=tenanttracker-u4wuw.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=239178627658
NEXT_PUBLIC_FIREBASE_APP_ID=1:239178627658:web:fd0ff48875cdff217fc4b3
# NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=your_measurement_id (optional, for Analytics)
NEXT_PUBLIC_GOOGLE_APPS_SCRIPT_URL