
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are permissive and are meant for development.
    // They allow any authenticated user to read and write all data.
    // For a production application, you should implement more granular security rules.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
