rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read and write access for all paths.
      // In a production app, you would want to restrict this further.
      allow read, write: if true;
    }
  }
}
